<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL shortner</h1>
    <h6>owned by vinisha enterprises</h6>
   <% if (locals.id) { %>
    <p>http://localhost:8001/url/<%= id %></p>
    
   <% } %>
     
    <div>
        <form  method="post"  action="/url">
            <label for="input">Enter your URL here</label>
            <input type="text"  name="url" placeholder="https://www.example.com">
            <button type="submit"> Generate </button>
        </form>
    </div>
    <div>
       <% if (locals.urls) { %>
        <table>
            <thead>
                <th>Sl.no</th>
                <th>shortID</th>
                <th>RedirectedURl</th>
                <th>visited Hististory</th>
            </thead>
            <tbody></tbody>
            <% urls.forEach((url, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.reDirectURL %></td>
                    <td><%= url.visitHistory.length %></td>
               </tr>
            <% }) %>
        </tbody>
        </table>
        
       <% } %> 
       
    </div>
</body>
</html>